.top_bar_toggle_container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 0 10px;
    width: calc(200px - 20px);
    height: 50px;
    border-radius: 24px;
    background-color: rgb(18, 18, 18, 0.3);
    cursor: pointer;
}
.toggle_btn{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 90px;
    height: 40px;
    color: transparent;
    border-radius: 20px;
}
.toggle_btn > span{
    font-size: 0.7rem;
    color: #ffffff;
    opacity: 0.5;
}
.toggle_btn.active{
    background-color: #ffffff!important;
}
.toggle_btn.active > span{
    color: black!important;
    opacity: 1!important;
    font-weight:bold;
}
